@media (prefers-reduced-motion) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --background: 327 43% 96%;
    --foreground: 327 44% 5%;

    --card: 327 43% 96%;
    --card-foreground: 322 44% 5%;

    --popover: 327 43% 96%;
    --popover-foreground: 322 44% 5%;

    --primary: 317 42% 53%;
    --primary-foreground: 322 44% 5%;
    
    --secondary: 355 43% 73%;
    --secondary-foreground: 322 44% 5%;

    --muted: 327 43% 20%;
    --muted-foreground: 322 44% 70%;

    --accent: 12 42% 61%;
    --accent-foreground: 322 44% 5%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 323 45% 10%;

    --border: 327 43% 20%;
    --input: 327 43% 20%;
    --ring: 12 42% 4%;

    --radius: 0.5rem;

    --max-content-width: 40em;
    --padding-inline: 2rem;
}

@media (prefers-color-scheme: dark) {
    [data-theme=system] {
        --background: 327 43% 4%;
        --foreground: 322 44% 95%;

        --card: 327 43% 4%;
        --card-foreground: 322 44% 95%;

        --popover: 327 43% 4%;
        --popover-foreground: 322 44% 95%;

        --primary: 317 42% 47%;
        --primary-foreground: 322 44% 95%;

        --secondary: 355 43% 27%;
        --secondary-foreground: 322 44% 95%;

        --muted: 327 43% 80%;
        --muted-foreground: 322 44% 95%;

        --accent: 12 42% 61%;
        --accent-foreground: 322 44% 95%;

        --destructive: 0 62% 30%;
        --destructive-foreground: 323 45% 10%;

        --border: 327 43% 60%;
        --input: 327 43% 80%;
        --ring: 12 42% 60%;
    }
}

[data-theme=dark] {
    --background: 327 43% 4%;
    --foreground: 322 44% 95%;

    --card: 327 43% 4%;
    --card-foreground: 322 44% 95%;

    --popover: 327 43% 4%;
    --popover-foreground: 322 44% 95%;

    --primary: 317 42% 47%;
    --primary-foreground: 322 44% 95%;

    --secondary: 355 43% 27%;
    --secondary-foreground: 322 44% 95%;

    --muted: 327 43% 80%;
    --muted-foreground: 322 44% 95%;

    --accent: 12 42% 61%;
    --accent-foreground: 322 44% 95%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 323 45% 10%;

    --border: 327 43% 60%;
    --input: 327 43% 80%;
    --ring: 12 42% 60%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    font-synthesis: weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;

    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type=submit],
button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

input,
select,
textarea {
    padding: 0.25rem 0.75rem;
}

a,
button,
input[type=submit] {
    --_min-width: 7.5ch;
    --_min-height: 3.25ch;
    --_foreground: var(--background);

    padding: 0.5rem 1rem;
    
    border-radius: calc(var(--radius) - 0.25em);
    
    min-width: var(--_min-width);
    min-height: var(--_min-height);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(var(--foreground) / var(--_bg-opacity, 1));
    color: hsl(var(--_foreground));

    transition: background-color 0.2s ease;
    will-change: background-color;

    font-weight: 600;
    font-size: 0.875rem;
}

a.primary,
button.primary,
input[type=submit].primary {
    background-color: hsl(var(--primary) / var(--_bg-opacity, 1));
    --_foreground: var(--primary-foreground);
}

a.secondary,
button.secondary,
input[type=submit].secondary {
    background-color: hsl(var(--secondary) / var(--_bg-opacity, 1));
    --_foreground: var(--secondary-foreground);
}

a.accent,
button.accent,
input[type=submit].accent {
    background-color: hsl(var(--accent) / var(--_bg-opacity, 1));
    --_foreground: var(--accent-foreground);
}

a.destructive,
button.destructive,
input[type=submit].destructive {
    background-color: hsl(var(--destructive) / var(--_bg-opacity, 1));
    --_foreground: var(--destructive-foreground);
}

a.ghost,
button.ghost,
input[type=submit].ghost {
    background-color: transparent;
    --_foreground: var(--primary);
}

a.icon,
button.icon,
input[type=submit].icon {
    padding: 0.175rem;
    min-width: 2rem;
    min-height: 2rem;
}

a.link,
button.link,
input[type=submit].link {
    background-color: transparent;
    --_foreground: var(--primary);
    padding: 0;
}

a.link:hover,
button.link:hover,
input[type=submit].link:hover {
    opacity: 0.8;
}

a.ghost:hover,
button.ghost:hover,
input[type=submit].ghost:hover {
    background-color: hsl(var(--accent) / var(--_bg-opacity, 0.175));
}

a:hover,
button:hover,
input[type=submit]:hover {
    --_bg-opacity: 0.8;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: 2px solid hsl(var(--ring));
    outline-offset: 2px;
}

a:active,
button:active,
input[type=submit]:active {
    --_bg-opacity: 0.6;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.602rem;
}

h4 {
    font-size: 1.424rem;
}

h5 {
    font-size: 1.266rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    margin: 1.5rem 0;
}

small {
    font-size: 0.889rem;
}

.smaller {
    font-size: 0.79rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0.175rem;
}

.card,
.popover {
    box-shadow: 0px 4px 24px hsl(var(--_shadow) / 0.25);
    border-radius: var(--radius);
    padding: 1rem;
}

.card {
    --_shadow: var(--card-foreground);
    background-color: hsl(var(--card) / var(--_bg-opacity, 1));
    color: hsl(var(--card-foreground));
}

.popover {
    --_shadow: var(--popover-foreground);
    background-color: hsl(var(--popover) / var(--_bg-opacity, 1));
    color: hsl(var(--popover-foreground));
}

@media (prefers-color-scheme: dark) {
    [data-theme=system] .card {
        border: 1px solid hsl(var(--foreground) / 0.8);
    }
}

[data-theme=dark] .card {
    border: 1px solid hsl(var(--foreground) / 0.8);
}

.centered {
    margin-inline: auto;
}

.container {
    width: min(var(--max-content-width), calc(100% - var(--padding-inline) * 2));
    margin-inline: auto;
}

.min-h-screen {
    min-height: 100dvh;
}

.input-group input,
.input-group select {
    width: 100%;
}

.input-group label {
    font-size: 0.889rem;
}

form button[type=submit] {
    margin-top: 1rem;
}

.sr-only {
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.w-4 {
    width: 1rem;
}

.h-4 {
    height: 1rem;
}

.profile_picture_sm {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

.center-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
}

[data-loading], [hidden] {
    display: none;
}

[disabled] {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
    --_bg-opacity: 0.5 !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
    shape-margin: 2rem;
}

.profile {
    border-radius: 50%;
}

.spinner {
    border: 0.25rem solid hsl(var(--foreground) / 0.25);
    border-top: 0.25rem solid hsl(var(--foreground));
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
