header {
    z-index: 100;
    position: sticky;
    padding: 0.5rem 1rem;
}

header > div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.header__user {
    position: relative;
}

.header__user ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header__user li a,
.header__user li button {
    width: 100%;
}

.header__user li a {
    background-color: hsl(var(--secondary) / var(--_bg-opacity, 1));
    color: hsl(var(--secondary-foreground));
    font-weight: 500;
    font-size: 0.85rem;

    padding: 0.25rem 0.5rem;
}

@media screen and (min-width: 768px) {
    .header__search-container > button {
        display: none;
    }
}


.header__search-container {
    flex: 0.75;
    position: relative;
}

.list-of-search-results-container {
    width: 100%;
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    z-index: 100;
}

#list-of-search-results > * {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-height: 50dvh;
    overflow-x: hidden;
    overflow-y: auto;
}

#list-of-search-results > * > li > * {
    width: 100%;
    background-color: transparent;
    gap: 1rem;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: hsl(var(--secondary) / var(--_bg-opacity, 0.675));
    backdrop-filter: blur(0.25rem);
}

#list-of-search-results > * > li > button:hover {
    background-color: hsl(var(--secondary) / var(--_bg-opacity, 1));
}
