<!DOCTYPE html>
<html data-theme="{{theme}}"  lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Server w/ Rocket | Session</title>
    <link rel="preload" href="/assets/globals.css" as="style">
    <link rel="preload" href="/assets/htmx.min.js" as="script">
    <link rel="stylesheet" href="/assets/globals.css">
    <script src="/assets/htmx.min.js"></script>
</head>
<body>
    <h1>You are currently logged in</h1>
</body>
</html>